/* General */

body {
  background-color: #C0DEED;
  font-family: 'Gotham';
}

.container {
  width: 960px;
}

/* Header */

.header {
  background-color: #FFFFFF;
  border-bottom: 1px solid #E1E8ED;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.logo-icon img {
  max-height: 20px;
  max-width: 30%;
}

/* Menu */ 

.header .menu {
  float: right;
  list-style: none;
  margin: 0px;
}

.menu > li {
  display: inline;
  padding-left: 20px;
  padding-right: 20px;
}

.menu span {
  font-size: 18px;
  margin-right: 5px;
}

.menu a {
  color: #66757F;
}

/* Dropdown */

.dropdown-menu {
  margin-top: 5px;
  min-width: 105px;
}

.dropdown-menu li a {
  color: #66757F;
  padding: 6px 20px;
}

/* Profile */

.user-profile {
  background-color: #E5F2F7;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 60px;
  padding: 10px;
}

.user-profile img {
  float: left;
  border-radius: 5px;
  max-height: 40px;
  margin-right: 10px;
}

.user-profile textarea {
  float: left;
  resize: none;
  height: 40px;
  width: 768px;
  margin-right: 10px;
}

.counter {
  float: left;
  color: #66757F;
  margin-top: 10px;
  margin-right: 10px;
}

.update-btn {
  margin-top: 2.5px;
}

/* Feed */

.tweet {
  background-color: #FFFFFF;
  height: 100px;
  padding: 10px;
  border-bottom: 1px solid #E1E8ED;
  border-top: 1px solid #E1E8ED; 
}

.tweet:hover {
  background-color: #E1E8ED;
}

.tweet img {
  float: left;
  border-radius: 5px;
  max-height: 80px;
  margin-right: 10px;
}

.tweet .username {
  font-size: 18px;
  font-weight: bold;
}

.tweet .time {
  color: #66757F;
}

.tweet .message {
  font-size: 18px;
}


