/* General */

/*.container {
  width: 960px;
} see if this breaks responsive design*/


/* Navbar */

.navbar-brand > img {
  max-height: 75px;
  max-width: 30%; 

}

/* Status */

.status .container {
  height: 179px;
  border: 2px solid #55ACEE;
}

.profile-group {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #55ACEE;
}

.profile-img {
  margin-bottom: 5px;
  text-align: center;
}

.profile-img img {
  max-height: 100px;
  max-width: 100%;
}

.profile-info {
  text-align: center;
}

.profile-info ul {
  height: 40px;
  padding: 0px;
  margin-bottom: 0px;
}

.profile-info li {
  list-style-type: none;
}

.update-group {
  padding-top: 15px;
  padding-bottom: 14px;
  background-color: white;
}

.form-group {
  margin-bottom: 12px;
}

.status textarea {
  resize: none;
  height: 100px;
}

.counter {
  display: inline;
  vertical-align: middle;
  margin-right: 10px;
}

/* Posts */

.posts {
  background-color: red;
}